.formPublic{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: .5rem;
    gap: 1rem;
    height: 10rem;
}
.fieldsetFormPublic{
    border:2px solid white;
    width: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
}
.publicContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.previewContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.previewContainer > .figure{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    height: 15rem;
    border: .0625rem solid white;
    color: white;
    font-variant: small-caps;
}
