@media screen and (max-with: 400px){
    #app{
        display: flex;
        flex-flow: column wrap;
        gap:.3rem;
    }
  }

.reloadButton{
    font-variant: small-caps;
    border: unset;
    background-color: inherit;
    color:white;
    grid-column: 3/4;
    grid-row: 1/2;

}

.reloadButton:hover{
    cursor: pointer;
    border-top: .125rem solid white;
    border-bottom: .125rem solid white;
}

.container{
    grid-area: 3/2/13/12;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.divSelectores{
    grid-column:2/3;
}

.divSelectores{
    background-image: url('../../public/pokeLogo.png');
    background-size: contain;
    background-repeat: no-repeat;;
}

.inputBusqueda{
   border-left: unset;
   border-right: unset;
   text-align: center;
   font-variant: small-caps; 
   background-color: transparent;
   border-top: 1px solid white;
   border-bottom:1px solid white;
   color: white;
}

.inputBusqueda:hover{
    border: .125rem solid white;
}
.inputBusqueda:focus{
    border: .125rem solid white;
}

.selectTypes, .selectLocations{
    border-top: .0625rem solid white;
    border-bottom: .0625rem solid white;
    border-left: unset;
    border-right: unset;
    background-color: inherit;
    color: white;
}

.selectTypes:hover, .selectLocations:hover{
    border:.125rem solid white;
}
.selectTypes:focus, .selectLocations:focus{
    border:.125rem solid white;
}
.selectTypesOption, .selectLocationsOption{
    background-color: inherit;
    color: black;
}
.pockeClass{
    font-variant: small-caps;
    border : 1px solid white;
    border-radius: .1875rem .3125rem;
    box-shadow: white 4px 4px 15px;
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0.2rem;
    min-width: 4.125rem;
    min-height: 4.125rem;
    width: 8.375rem;
    height: 13rem;
    transition: all 2s;
}
.pockeClass:hover{
    transform: scale(1.5);
}
.grass{
    background-image: -webkit-linear-gradient(left,lightgreen,darkgray);
}
.fire{
    background-image:  -webkit-linear-gradient(left,lightcoral,darkgray);
}
.water{
    background-image: -webkit-linear-gradient(top,rgb(9, 237, 237),darkblue);
}
.dragon{
    background-image: -webkit-linear-gradient(bottom,darkred,lightcoral);
}
.bug{
    background-image: -webkit-radial-gradient(right, brown,lightgray);
}
 .electric{
    background-image: -webkit-linear-gradient(left,darksalmon,darkorange); 
}
.poison{
    background-image: -webkit-linear-gradient(top,black,darkgray);
}
.fighting{
    background-image:  -webkit-linear-gradient(left,chartreuse,darkgreen);
}
.psychic{
    background-image: -webkit-radial-gradient(top,ellipse,darkmagenta,magenta);
}
.rock{
    background-image: -webkit-radial-gradient(top,ellipse,lightgray, darkgrey);
}
.ground{
    background-image: -webkit-radial-gradient(top,ellipse,rgb(218, 227, 89), darkkhaki);
}
.normal{
    background-image: -webkit-radial-gradient(top,ellipse,rgb(225, 92, 4), peru);
}
.normal{
    background-image: -webkit-radial-gradient(top,ellipse,darkmagenta, darkgoldenrod);
}
.fairy{
    background-image: -webkit-radial-gradient(top,ellipse,lightgreen, green);
}
.ghost{
    background-image: -webkit-radial-gradient(top,ellipse,rgb(236, 212, 236), dimgray);
}
.ice{
    background-image: -webkit-radial-gradient(top,ellipse,rgb(174, 239, 247), rgb(4, 83, 110));
}