
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: -moz-linear-gradient(left,#203322,#ffa);
    background-image: -webkit-linear-gradient(left,#203322,#ffa);
    color: whitesmoke;
}

.div_flex{
    display: flex;
    flex-flow:row;
    flex-wrap: wrap;
}
