*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,a:link,a:visited{
  text-decoration: unset;
  color: inherit;
}
.navComponent > a {
  color: white;
  font : bold 1.5rem white; 
}
.navComponent{
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.navComponent > a:hover{
  border-bottom: .0625rem solid white;
  border-top: .0625rem solid white;
}