.logoHeaderSection{
    width: 13.9375rem;
    height: 6.0625rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.u{
  position: relative;  
}
.smallPoint{
    position: absolute;
    top:.5rem;
    left: .43748rem;
}
.uDchaSmall{
    position: absolute;
    top: -8px;
    left: 8px;
    
}
.smallLogoName{
    margin-top: -0.625rem;
}
.smallLogoName > img {
    margin-left: .09rem;
}
.y{
    position: absolute;
    top: 2.35rem; 
}